<h1>Job Status</h1>
{% if jobs %}
    <table border="1">
        <tr>
            <th>Dropoff Address</th>
            <th>Dropoff Company</th>
            <th>Job Status</th>
            <th>Courier</th>
        {% for job in jobs %}
            <tr>
                <td><a href="/delivery/{{ job.id }}/">{% csrf_token %}{{ job.id }}</a></td>
                <td>{{ job.drop_address }}</td>
                <td>{{ job.drop_company }}</td>
                <td>{{ job.status }}</td>
                <td>{{ job.courier.alias }}</td>
            <tr>
        {% endfor %}
    </table>
{% else %}
    <p>No jobs are available.</p>
{% endif %}
<a href="/client/homepage/">{% csrf_token %}back</a>
<p>Powered by Tachyon Systems</p>
