<h1>
{% for c in company %}
    {{ c }}{% csrf_token %}
{% endfor %}
: Welcome
{% for c in courier %}
    {{ c }}{% csrf_token %}
{% endfor %}
</h1>
Logout<br>
<a href="/company/registercourier/">Hire Courier</a><br>
List Couriers<br>
List Clients<br>

<p>Job Board</p>
{% if jobs %}
    <table border="1">
        <tr>
            <th>Job ID</th>
            <th>Client Name</th>
            <th>Submit Time</th>
            <th>Pickup Address</th>
            <th>Dropoff Address</th>
            <th>Status</th>
            <th>Assigned Courier</th>
        {% for job in jobs %}
            <tr>
                <td><a href="/delivery/{{ job.id }}/">{% csrf_token %}{{ job.id }}</a></td>
                <td>{{ job.client.user.first_name }} {{ job.client.user.last_name }}</td>
                <td>{{ job.submit_time }}</td>
                <td>{{ job.pick_address }}</td>
                <td>{{ job.drop_address }}</td>
                <td>{{ job.status }}</td>
                <td><select>
                        {% for r in riders %}
                            <option value = "{{ r }}">{{ r }}</option>
                        {% endfor %}
                    </select><button type="button">ASSIGN</button></td>
            <tr>
        {% endfor %}
    </table>
{% else %}
    <p>No jobs are available.</p>
{% endif %}

<form method="get">
  <select>
    {% for rider in riders %}
        <option value = "{{ rider }}">{{ rider }}</option>
    {% endfor %}
  </select>
  <button type="submit" formmethod="post">Assign</button>
</form> 

<p>Powered by Tachyon Systems</p>
