{% if details %}
    {{ details.id }}</br>
    {{ details.submit_time }}</br>
    {{ details.client.first_name }}
    {{ details.client.last_name }}</br>
    {{ details.pick_company }}</br>
    {{ details.pick_name }}</br>
    {{ details.pick_address }}</br>
    {{ details.pick_phone }}</br>
    {{ details.pick_email }}</br>
    {{ details.drop_company }}</br>
    {{ details.drop_name }}</br>
    {{ details.drop_address }}</br>
    {{ details.drop_phone }}</br>
    {{ details.drop_email }}</br>
    {{ details.instructions }}</br>
{% else %}
    <p>Not available.</p>
{% endif %}
