<h1>Welcom to Tachyon Courier Systems</h1>
<p>Made by couriers for couriers<p>
<a href="/company/login/">Login</a>
<p>Have clients and need a solid platform that:</p>
<ul>
    <li>Is customizable</li>
    <li>Is light weight and won't drain your phone battery</li>
    <li>Has easy to use dispatching with dispatching tools</li>
    <li>Manages clients</li>
    <li>Manages couriers</li>
    <li>Manages billing and payment</li>
    <li>Has several levels of access</li>
</ul>
<ul>
    <li><a href="/company/registercompany/">Register your company here!</a></li>
</ul>
<p>Are you looking for a courier company?</p>
<ul>
    <li>Here's a list of the companies using Tachyon</li>
</ul>
<p>Powered by Tachyon Systems</p>
